.contact-container {
  max-width: 100%;
  padding: 20px;
  text-align: left;
  margin: 0 auto;
  font-size: 12px;
  justify-content: center;
  display: flex;
  padding: 120px 20px;
}

.contact-content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.contact-info {
  text-align: left;
  margin-bottom: 20px;
}

.contact-info h5 {
  color: #000000;
  font-weight: bold;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin: 20px 0;
}

.contact-info p {
  margin: 10px 0;
}

.icons {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
  margin-bottom: 8px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 10px;
}

.form-group {
  flex: 1;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  height: 150px;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
}

.submit-btn:hover {
  background-color: #cc0000;
}
